* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  margin: 0;
  background: #2a2f32 !important;
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  height: auto;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

h1,
h2,
h3,
p {
  margin: 10px auto !important;
}

/* --------Navbar--------- */
nav {
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(52, 152, 219, 0.571),
    rgba(52, 152, 219, 0.29)
  );
}
nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
nav ul li {
  padding: 20px;
  transition: all 0.3s ease-in-out;
}
nav .nav-logo {
  color: white;
  font-size: 24px;
  text-decoration: line-through;
  font-weight: bold;
  margin-right: 40px;
}
nav .nav-logo .logo_link:hover {
  color: white !important;
}
nav ul li .link {
  text-decoration: none !important;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
nav ul li .link:hover {
  color: rgb(0, 0, 0);
}
nav ul .nav-toggle {
  font-size: 22px;
  color: white;
  cursor: pointer;
  display: none;
}

.active_link {
  color: blueviolet;
  border-bottom: 1px solid #000;
}

nav .nav-link-img {
  align-self: flex-end;
  margin-left: auto;
  margin-right: 40px;
}
nav img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.acitive_link {
  color: rgba(0, 0, 0, 0.8) !important;
  border-bottom: 2px solid black;
}

/* ---------Navbar---------- */

/* -----Home Page ------ */

#homePage {
  width: 100%;
  height: auto;
}

#homePage .showCase {
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.3) 5%,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 0.7) 60%
    ),
    url("Images/bg-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
}

#homePage h1 {
  font-size: 4rem;
}

.main_body {
  width: 100%;
  height: auto;
  padding: 40px 0px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
#homePage .main_body img {
  width: 150px;
  height: 175px;
  border-radius: 132px;
}
/* -----Home Page End------ */

/* ------About Page Start------ */

#aboutPage {
  width: 100%;
  height: auto;
}

#aboutPage .showCase_about {
  width: 100%;
  height: 40vh;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.5) 5%,
      rgba(0, 0, 0, 0.6) 15%,
      rgba(0, 0, 0, 0.7) 60%
    ),
    url("Images/programming.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ------About Page End------ */

/* ------ContactUs Page Start */

#contactUsPage {
  width: 100%;
  height: auto;
}

#contactUsPage .showCase_contactUs {
  width: 100%;
  height: 40vh;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.5) 5%,
      rgba(0, 0, 0, 0.6) 15%,
      rgba(0, 0, 0, 0.7) 60%
    ),
    url("Images/programming3.jpg");
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#contactUsPage .feedback {
  width: 100%;
  height: auto;
  padding: 50px 0px;
}
#contactUsPage .feedback form {
  width: 80%;
  margin: auto;
}
#contactUsPage .feedback .form-group {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
}
#contactUsPage .feedback form {
  width: 80%;
  margin: auto;
}
#contactUsPage .feedback .form-group {
  width: 80vw;
  display: inline-block;
  padding: 10px 20px;
}

#contactUsPage .feedback .form-group input,
textarea {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}
#contactUsPage .feedback input[type="submit"] {
  padding: 5px 20px;
  margin-left: 50px;
  margin-top: 30px;
  background-color: rgba(64, 224, 208, 0.722);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

#contactUsPage .feedback input[type="submit"]:hover {
  background-color: rgb(64, 224, 208);
}

/* ------ContactUs Page End */

/* ------Projects Page End */

.projheading {
  text-align: center;
}

.card {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0, 1);
  /* box-shadow: 0px 13px 10px -7px rgb(255, 255, 255, 0.5); */
  box-shadow: rgba(255, 255, 255, 0.5) 0px 5px 15px;
  background: darkslateblue !important;
}

.card:hover {
  transform: scale(1.05, 1.05);
}

.card-body {
  color: black !important;
}

/* ------Projects Page End */

@media (min-width: 576px) {
  #homePage .showCase {
    height: 80vh;
  }
  #aboutPage .showCase_about {
    height: 50vh;
  }
  #contactUsPage .showCase_contactUs {
    height: 70vh;
  }
}

@media (min-width: 768px) {
  #aboutPage .showCase_about {
    height: 100vh;
  }
  #contactUsPage .showCase_contactUs {
    height: 70vh;
  }
  #contactUsPage .showCase_contactUs {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-wrap: wrap;
  }
  nav ul .nav-logo {
    order: 0;
    flex: 1;
  }
  nav ul .nav-link,
  .nav-link-img {
    display: none;
    width: 100%;
    text-align: center;
    order: 2;
  }
  nav ul .nav-toggle {
    display: block;
    margin-left: auto;
    order: 1;
  }
  .d-inline-block {
    display: inline-block !important;
  }
}
